<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Logout | William's Blog</title>

        <!-- Redirect -->
        <meta http-equiv="refresh" content="3; url=/">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-4 bg-zinc-900 text-white text-center">
        <header class="px-3 py-2 text-gray-400 text-md text-left bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-4">
            <span class="font-bold"><a href="/">William's Blog</a> > <a href="/auth/logout">Logout</a></span>
        </header>

        <main>
            <i class="fa-solid fa-check bg-green-600 px-3 pt-2.5 pb-2 text-3xl rounded-full"></i>
            <h1 class="text-2xl font-semibold">You have been logged out.</h1>
        </main>

        <footer class="mt-4">
            <p>&copy; 2023 <span class="font-semibold">William Harrison</span> - All Rights Reserved.</p>
        </footer>
    </body>
</html>