<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Authors | William's Blog</title>

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-4 bg-zinc-900 text-white text-center">
        <header class="px-3 py-2 text-gray-400 text-md text-left bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-4">
            <span class="font-bold"><a href="/">William's Blog</a> > <a href="/authors">Authors</a></span>
        </header>

        <main class="w-fit m-auto content-center">
            <% for(let i = 0; i < authors.length; i++) { %>
                <a href="/author/<%= authors[i].username %>">
                    <div class="p-4 w-72 rounded-lg bg-zinc-800 hover:bg-zinc-700 border border-2 border-gray-600 mb-4">
                        <h1 class="text-2xl font-bold break-all"><%= authors[i].firstName %> <%= authors[i].lastName %></h1>
                        <p class="text-gray-400">@<%= authors[i].username %></p>
                    </div>
                </a>
            <% } %>

            <% if(authors.length === 0) { %>
                <p class="italic">There are no authors yet.</p>
            <% } %>
        </main>
    </body>
</html>