<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title><%= author.name %></title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-4 bg-zinc-900 text-white text-center">
        <header class="px-3 py-2 text-gray-400 text-md text-left bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-4">
            <div class="flex flex-wrap items-center">
                <span class="font-bold"><a href="/">William's Blog</a> > <a href="/authors">Authors</a> > <a href="/author/<%= author.username %>">@<%= author.username %></a></span>
            </div>
        </header>

        <main class="w-fit m-auto">
            <img id="avatar" class="m-auto h-20 rounded-full mb-1" draggable="false">
            <h1 class="text-3xl font-bold"><%= author.name %></h1>

            <hr class="h-1 mx-2 my-4 bg-gray-700 border-none">

            <% for(let i = 0; i < posts.length; i++) { %>
                <a href="/post/<%= posts[i]._id %>">
                    <article class="p-4 bg-zinc-800 hover:bg-zinc-700 border border-2 border-gray-600 rounded-lg mb-4">
                        <% if(posts[i].image) { %>
                            <img src="<%= posts[i].image %>" class="max-h-96 max-w-96 mx-auto rounded-lg mb-2" draggable="false">
                        <% } %>

                        <h1 class="text-2xl font-bold break-all"><%= posts[i].title %></h1>
                        <p class="break-all"><%= posts[i].description %></p>

                        <p class="text-gray-400 text-sm mt-2"><i class="fa-solid fa-clock mr-1"></i><%= moment.unix(posts[i].timestamp / 1000).fromNow() %></p>
                    </article>
                </a>
            <% } %>

            <% if(posts.length === 0) { %>
                <p class="italic"><%= author.firstName %> has not published any posts yet.</p>
            <% } %>
        </main>
    </body>

    <script>
        document.getElementById("avatar").setAttribute("src", `<%= author.avatar %>?default=https://static-cdn.wdh.gg/user.png`);
    </script>
</html>