<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Dashboard | William's Blog</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-4 m-auto bg-zinc-900 text-white text-center">
        <header class="px-3 py-2 text-gray-400 text-md text-left bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-4">
            <span class="font-bold"><a href="/">William's Blog</a> > <a href="/dashboard">Dashboard</a></span>

            <div class="float-right font-semibold">
                <a href="/account" class="text-blue-500 hover:text-blue-600">Account</a>
                <span class="mx-1 text-white">&bull;</span>
                <a href="/author/<%= username %>" class="text-blue-500 hover:text-blue-600">Profile</a>
            </div>
        </header>

        <div>
            <img id="avatar" class="m-auto h-16 rounded-full" draggable="false">
            <span class="text-3xl font-bold">Welcome, <%= firstName %></span>
        </div>

        <main class="mt-6">
            <div class="flex justify-center">
                <div class="mr-8">
                    <h3 class="text-xl font-bold mb-2">Actions</h3>

                    <a href="/post/create"><button class="bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Create Post</button></a>
                </div>

                <div class="border border-2 border-gray-600"></div>

                <div class="ml-8">
                    <h3 class="text-xl font-bold mb-2">Statistics</h3>

                    <p class="text-lg"><i class="fa-solid fa-file-lines"></i> <%= posts.length %> <% if(posts.length > 1 || posts.length < 1) { %> Posts <% } else { %> Post <% } %></p>
                </div>
            </div>

            <a href="/auth/logout"><button class="bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mt-6">Log Out</button></a>
        </main>

        <footer class="mt-4">
            <p>&copy; 2023 <span class="font-semibold">William Harrison</span> - All Rights Reserved.</p>
        </footer>
    </body>

    <script>
        document.getElementById("avatar").setAttribute("src", "<%= avatar %>?default=https://williamharrison.blog/assets/user.png");
    </script>
</html>